/* HOME FEATURE
----------------------------------------------------------*/
.feature {
  padding: 60px 0;
  color: #fff;
  border-bottom: $header-border;
  background-color: $header-bg;
  h1,p {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
  }
  h1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    margin-bottom: 16px;
    img {
      width: 60px;
      height: 60px;
      margin-bottom: 20px;
    }
  }
  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
  }
}

.sub-feature {
  margin-bottom: 20px;
  border-bottom: 1px solid darken(#f4f4f4, 4%);
  background-color: #f4f4f4;
  .grid {
    display: table;
    width: 100%;
    .grid-item {
      display: block;
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
      padding: 40px 20px;
      text-align: center;
      .glyphicon {
        font-size: 40px;
        line-height: 40px;
        margin: 0 0 20px 0;
        color: $header-bg;
      }
      h2,p {
        color: #666;
      }
      h2 {
        font-weight: 400;
        margin: 0 0 10px;
      }
      p {
        margin: 0;
      }
      @media (min-width: $screen-sm-min) {
        display: table-cell;
        width: 33%;
      }
    }
  }
}
