$menu-button-height: 20px;
$menu-button-width: 30px;

/* HEADER
----------------------------------------------------------*/
.header {
  .navbar {
    margin: 0;
    padding: 4px 0;
    border: none;
    border-bottom: $header-border;
    background-color: $header-bg;

    @include border-radius(0px);
    .navbar-brand {
      font-size: 22px;
      font-weight: 600;
      height: 50px;
      padding: 12px 15px;
      color: $header-color;
      img {
        display: inline-block;
        width: 32px;
        height: 32px;
        margin-right: 10px;
      }
    }
    .navbar-nav {
      > li {
        position: relative;
        a {
          font-size: 15px;
          font-weight: 600;
          line-height: 17px;
          color: $header-color;
          &:hover,&:focus {
            background-color: darken($header-bg, 5%);
          }
        }
        @media (max-width: $screen-xs-max) {
          &.active:after {
            position: absolute;
            top: 0;
            width: 4px;
            height: 100%;
            content: '';
            background-color: #fff;
          }
        }
      }
    }
    .navbar-toggle {
      position: relative;
      width: $menu-button-width;
      height: $menu-button-height;
      margin: 15px 15px 15px 0;
      padding: 0;
      border: none;
      &:focus,&:active,&:hover {
        background-color: transparent;
      }
      .icon-bar {
        position: absolute;
        left: 0;
        display: block;
        width: $menu-button-width;
        height: 2px;
        margin: 0;
        background: $header-color;

        @include transition(all .3s ease);
        &:nth-child(2) {
          top: 0;
        }
        &:nth-child(3) {
          top: 50%;
        }
        &:nth-child(4) {
          top: 100%;
        }
      }
      &:not(.collapsed) {
        .icon-bar:nth-child(2) {
          @include transform(0, $menu-button-height / 2, 45deg);
        }
        .icon-bar:nth-child(3) {
          opacity: 0;
        }
        .icon-bar:nth-child(4) {
          @include transform(0, $menu-button-height / 2 * -1, -45deg);
        }
      }
    }
    @media (min-width: $screen-sm-min) {
      padding: 5px 0;
      .navbar-brand {
        font-size: 24px;
        height: 60px;
        padding: 15px 15px;
        img {
          width: 38px;
          height: 38px;
        }
      }
      .navbar-nav {
        > li {
          margin-left: 15px;
          a {
            font-size: 14px;
            margin: 11px 0 8px 0;
            padding-top: 12px;
            padding-bottom: 12px;

            @include border-radius(4px);
          }
          &.active a {
            background-color: darken($header-bg, 5%);
          }
        }
      }
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      padding: 0;
      .navbar-nav {
        float: left !important;
        margin-left: -30px;
      }
    }
  }
  &.header-feature {
    .navbar {
      border: none;
    }
  }
}
