$header-height: 70px;
$nav-line-height: 20px;
$nav-padding: ($header-height - $nav-line-height) / 2;

/* HEADER
----------------------------------------------------------*/
.header {
  .navbar {
    margin: 0 0 20px 0;
    border: none;
    border-bottom: 4px solid #1a84bc;
    background-color: $header-bg;

    @include border-radius(0px);
    .navbar-brand {
      font-size: 22px;
      line-height: 32px;
      height: 60px;
      padding: 14px 15px 10px 15px;
      color: $header-color;
      .bluesky {
        // color: $brand-color;
      }
    }
    .navbar-nav {
      > li {
        a {
          font-size: 14px;
          font-weight: 600;
          color: $header-color;
          &:hover,&:focus {
            background-color: rgba(255,255,255,.1);
          }
        }
      }
    }
    @media (min-width: $screen-sm-min) {
      .navbar-brand {
        font-size: 28px;
        line-height: 38px;
        height: 70px;
        padding: 16px 15px 12px 15px
      }
      .navbar-nav {
        > li {
          a {
            margin: 12px 0 10px;
            padding-top: 14px;
            padding-bottom: 14px;

            @include border-radius(4px);
          }
        }
      }
    }
  }
}
