* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,body {
  height: 100%;
}

p {
  margin: 0;
}

$grid-gutter-width: 30px;

$screen-xs-min: 480px !default;
$screen-sm-min: 768px !default;
$screen-md-min: 992px !default;
$screen-lg-min: 1200px !default;

$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

$container-sm: (720px + $grid-gutter-width) !default;
$container-md: (940px + $grid-gutter-width) !default;
$container-lg: (1140px + $grid-gutter-width) !default;

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  background-color: green;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
    background-color: yellow;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
    background-color: orange;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
    background-color: red;
  }
}

.header {
  background-color: #000;
}
