<div class="feature">
  <div class="container">
    <h1>
      <img src="{{ site.baseurl }}/assets/logo.png" />
      <br />
      Welcome to {{ site.title }}
    </h1>
    <p>The London based English tuition agency: run by fully qualified English teachers.</p>
  </div>
</div>
<div class="feature-grid">
  <div class="container">
    <div class="grid">
      <div class="grid-item">
        <img src="{{ site.baseurl }}/assets/home_left.jpg" />
        <div class="quality">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <h2>Qualified</h2>
          <p>A tuition team of fully qualified English teachers covering both primary and secondary phases.</p>
        </div>
      </div>
      <div class="spacer"></div>
      <div class="grid-item">
        <img src="{{ site.baseurl }}/assets/home_center.jpg" />
        <div class="quality">
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
          <h2>Experienced</h2>
          <p>Our tutors have a breadth of experience across all exam boards, courses and texts.</p>
        </div>
      </div>
      <div class="spacer"></div>
      <div class="grid-item">
        <img src="{{ site.baseurl }}/assets/home_right.jpg" />
        <div class="quality">
          <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
          <h2>Professional</h2>
          <p>We support a range of students with varying abilities, talents and needs.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container feature-content">
    <hr />
    <p>Welcome to Blue Sky Tuition: a professional, private tuition agency specialising in English language and literature, organised and delivered by fully qualified English teachers.</p>
    <p>Blue Sky Tuition will help you to find a specialist English tutor skilled in addressing the specific learning needs of your child. Our pool of English tutors are all currently employed as teachers  in both primary and secondary schools across East London and Essex. This means that we are able to ensure that all our tutors are at the forefront of educational development within English. Their current classroom expertise means that our tutors are skilled at working with a wide range of students of differing abilities, talents and needs.</p>
    <a href="/why-choose-us/" class="btn btn-primary">Why Choose Us?</a>
  </div>
</div>