<div class="feature">
  <div class="container">
    <h1>
      <img src={{ "/assets/logo.png" | prepend: site.baseurl }}/>
      <br />
      Welcome to Bluesky Tuition
    </h1>
    <p>London based English tuition agency, ran by fully qualified English teachers</p>
  </div>
</div>
<div class="sub-feature">
  <div class="container">
    <div class="grid">
      <div class="grid-item">
        <h2>Qualified</h2>
        <p>We are run by a team of fully qualified English teachers.</p>
      </div>
      <div class="grid-item">
        <h2>Experienced</h2>
        <p>We have an enormous breadth of experience across all exam boards, courses and texts.</p>
      </div>
      <div class="grid-item">
        <h2>Professional</h2>
        <p>We work with a wide variety of students with differing abilities, talents and needs.</p>
      </div>
    </div>
  </div>
</div>