<div class="feature">
  <div class="container">
    <h1>
      <img src="{{ site.baseurl }}/assets/logo.png" />
      <br />
      Welcome to {{ site.title }}
    </h1>
    <p>The London based English tuition agency: ran by fully qualified English teachers.</p>
  </div>
</div>
<div class="feature-grid">
  <div class="container">
    <div class="grid">
      <div class="grid-item">
        <img src="{{ site.baseurl }}/assets/home_left.jpg" />
        <div class="quality">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <h2>Qualified</h2>
          <p>We are run by a team of fully qualified English teachers.</p>
        </div>
      </div>
      <div class="spacer"></div>
      <div class="grid-item">
        <img src="{{ site.baseurl }}/assets/home_center.jpg" />
        <div class="quality">
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
          <h2>Experienced</h2>
          <p>We have an enormous breadth of experience across all exam boards, courses and texts.</p>
        </div>
      </div>
      <div class="spacer"></div>
      <div class="grid-item">
        <img src="{{ site.baseurl }}/assets/home_right.jpg" />
        <div class="quality">
          <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
          <h2>Professional</h2>
          <p>We work with a wide variety of students with differing abilities, talents and needs.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container feature-content">
    <hr />
    <p>Welcome to Blue Sky Tuition: a professional private tuition agency specialising in English, ran by fully qualified English teachers.</p>
    <p>At Blue Sky Tuition, we have a range of English teachers working in schools across East London and Essex. As a team, we have an enormous breadth of experience over different texts, courses and skills. We also have expertise of working with a wide variety of students with differing abilities, talents and needs.</p>
    <a href="/why-choose-us/" class="btn btn-primary">Why Choose Us?</a>
  </div>
</div>