---
layout: default
---
{% assign colone = 'col-md-12' %}

{% if page.subcontent %}
  {% assign colone = 'col-md-8' %}
  {% assign coltwo = 'col-md-4' %}
{% endif %}

<div class="row">

  <div class="{{ colone }}">
    <article class="post">

      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
      </header>

      <div class="post-content">
        <div class="post-image">
          <img src="{{ site.baseurl }}/assets/{{ page.image }}.jpg" />
        </div>
        {{ content }}
      </div>

    </article>
  </div>

  {% if page.subcontent %}
    <div class="{{ coltwo }}">
      {% for content in page.subcontent %}
         <article class="post subpost">
            {% include content/{{ content }}.html %}
          </article>
      {% endfor %}
    </div>
  {% endif %}

</div>
